import { Component, OnInit } from '@angular/core';

@Component({
    selector: 'app-{{name}}-details',
    templateUrl: './{{name}}-details.component.html',
    styleUrls: ['./{{name}}-details.component.scss'],
})
export class {{pascalName}}DetailsComponent {
    constructor() {}
}