.title {
    margin-top: 16px;
}

.button-row > button {
    margin-top: 5px;
    margin-bottom: 5px;
}

.search-icon {
    margin-top: 24px;
    padding-left: 10px;
    padding-right: 10px;
}

.filter {
    font-size: 18px;
    width: 100%;
    min-width: 300px;
}

.pagination {
    display: flex;
    align-items: center;
    float: right;
    margin-top: 16px;
    margin-left: 20px;
}

mat-paginator {
    float: left;
    background-color: #fafafa;
}

table {
    width: 100%;
}


