import { Injectable } from '@angular/core';
import { HttpClient } from '@angular/common/http';
import { Observable } from 'rxjs';

import { ShowLoader } from '@decorators/show-loader';
import { ShowStatus } from '@decorators/show-status';

import { {{pascalName}} } from '@models/{{kebabName}}.model';

@Injectable({
    providedIn: 'root',
})
export class {{pascalNamePlural}}Service {
    constructor(private httpClient: HttpClient) {}

    @ShowLoader()
    getAll(): Observable<{{pascalName}}[]> {
        return this.httpClient.get<{{pascalName}}[]>('rest/{{kebabNamePlural}}');
    }

    @ShowStatus()
    create(item: {{pascalName}}) {
        return this.httpClient.post('rest/{{kebabNamePlural}}', item);
    }

    read(id): Observable<{{pascalName}}>  {
        return this.httpClient.get<{{pascalName}}>('rest/{{kebabNamePlural}}/${id}');
    }

    @ShowStatus()
    update(id, item: {{pascalName}}) {
        return this.httpClient.put('rest/{{kebabNamePlural}}/${id}', item);
    }

    delete(id) {
        return this.httpClient.delete('rest/{{kebabNamePlural}}/${id}');
    }
}
