import { Component, OnInit } from '@angular/core';

@Component({
    selector: 'app-{{name}}-edit',
    templateUrl: './{{name}}-edit.component.html',
    styleUrls: ['./{{name}}-edit.component.scss'],
})
export class {{pascalName}}EditComponent {
    constructor() {}
}